<h1>Create Entity Page</h1>

<form method="post">
    <input type="text" placeholder="Entity Name" name="entityName"/> <br/>
    <input type="text" placeholder="Property Key 1" name="propKey1"/> <input type="text" placeholder="Property Type 1" name="propType1"/> <br/>
    <input type="text" placeholder="Property Key 2" name="propKey2"/> <input type="text" placeholder="Property Type 2" name="propType2"/> <br/>
    <input type="text" placeholder="Property Key 3" name="propKey3"/> <input type="text" placeholder="Property Type 3" name="propType3"/> <br/>
    <input type="submit" value="Create Entity"/>
</form>