<h1>Create Entity Page</h1>

<form method="post">
    <input type="text" placeholder="Entity Name" name="entityName"/> <br/>
    <input type="text" placeholder="Property Key 1" name="property1_name"/> <input type="text" placeholder="Property Type 1" name="property1_type"/> <br/>
    <input type="text" placeholder="Property Key 2" name="property2_name"/> <input type="text" placeholder="Property Type 2" name="property2_type"/> <br/>
    <input type="text" placeholder="Property Key 3" name="property3_name"/> <input type="text" placeholder="Property Type 3" name="property3_type"/> <br/>
    <input type="submit" value="Create Entity"/>
</form>