<html>
    <body>
        <h1>Welcome to API Factory!</h1>
        <h2>Hey there,</h2>
        <p>
            Thanks for being a part of us. We're really excited to have you. To get you started, we've got you a master account. Just follow the login link below and sign in using the following credentials.
        </p>
        <p>
            <h4>Domain: {{domainName}}</h4>
            <h4>Username: admin</h4>
            <h4>Password: {{password}}</h4>
        </p>
        <p>
            Click <a href="http://sentry.manthanhd.com/user/login">here</a> to login or paste the following link into your favourite web browser:
        </p>
        <p>
            http://app.apifactory.com/user/login
        </p>
        <p>
            You can also checkout the documentation available at <a href="http://app.apifactory.com/apidocs">http://app.apifactory.com/apidocs</a>.
        </p>
        <p><h3>Thanks,</h3></p>
        <p><h3>The API Factory Team</h3></p>
        <p><h5>&copy; ThunderLab Ltd.</h5></p>
    </body>
</html>