<link rel="stylesheet" href="/stylesheets/materialize.min.css"/>
<!--<link rel="stylesheet" href="/stylesheets/custom-fabric.css"/>-->
<link rel="stylesheet" href="/stylesheets/index.css"/>
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="/javascripts/materialize.min.js"></script>
<div class="parent-container">
    <section class="section">
        <div class="main-container">
          <div class="row header-section">
            <div class="col s8 header-left">
              Entities
            </div>
            <div class="col s4 header-right">
              Properties
            </div>
          </div>

          <div class="row body-section">
            <div class="col s8 body-left">
              Entities Body
            </div>
            <div class="col s4 body-right">
              Properties Body
            </div>
          </div>
        </div>
    </section>
</div>