<!DOCTYPE html>
<html ng-app="APIFactoryWeb">
<head>
  <title>API Factory</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/materialize.min.css"/>
  <link rel="stylesheet" href="/stylesheets/custom-fabric.css"/>
  <link rel="stylesheet" href="/stylesheets/loading-bar.min.css"/>

  <script src="/javascripts/jquery-1.11.1.min.js"></script>
  <script src="/javascripts/materialize.min.js"></script>
  <script src="/javascripts/angular.min.js"></script>
  <script src="/javascripts/angular-route.min.js"></script>
  <script src="/javascripts/loading-bar.min.js"></script>

  <script src="/javascripts/angular-app/main/Main.js"></script>
  <script src="/javascripts/angular-app/main/MainController.js"></script>

  <script src="/javascripts/angular-app/shared/Shared.js"></script>
  <script src="/javascripts/angular-app/shared/services/RequestService.js"></script>

  <script src="/javascripts/angular-app/entity-manager/Entities.js"></script>
  <script src="/javascripts/angular-app/entity-manager/EntityController.js"></script>
  <script src="/javascripts/angular-app/entity-manager/list-entity/EntityListController.js"></script>
  <script src="/javascripts/angular-app/entity-manager/view-entity/EntityPropertyController.js"></script>
  <script src="/javascripts/angular-app/entity-manager/list-instance/InstanceListController.js"></script>

  <script src="/javascripts/angular-app/security-manager/Users.js"></script>
  <script src="/javascripts/angular-app/security-manager/UserController.js"></script>
  <script src="/javascripts/angular-app/security-manager/list-users/UserListController.js"></script>
  <script src="/javascripts/angular-app/security-manager/view-user/UserPropertyController.js"></script>
  <script src="/javascripts/angular-app/security-manager/list-roles/RoleListController.js"></script>

  <script src="/javascripts/angular-app/apikeys-manager/APIKeys.js"></script>
  <script src="/javascripts/angular-app/apikeys-manager/APIKeysController.js"></script>
  <script src="/javascripts/angular-app/apikeys-manager/list-keys/APIKeysListController.js"></script>
  <script src="/javascripts/angular-app/apikeys-manager/view-key/APIKeyPropertyController.js"></script>
  <!--<script src="/javascripts/angular-app/security-manager/list-roles/RoleListController.js"></script>-->

  <script src="/javascripts/angular-app/app.js"></script>
</head>

<body ng-controller="MainController">
  <!-- START LEFT NAVIGATION DRAWER-->
  <ul id="slide-out" class="side-nav full">
    <li class="link valign-wrapper-li" ng-click="goto('entities')"><i class="mdi-action-view-module"></i>&nbsp;Entities</li>
    <li class="link valign-wrapper-li" ng-click="goto('security')"><i class="mdi-action-lock"></i>&nbsp;Security</li>
    <li class="link valign-wrapper-li" ng-click="goto('apikeys')"><i class="tiny material-icons">vpn_key</i>&nbsp;API Keys</li>
    <li class="grey lighten-1 nolink"><a class="text-disabled nolink valign-wrapper-li"><i class="mdi-device-storage"></i>&nbsp;Data Source Manager</a></li>
    <li class="grey lighten-1 nolink"><a class="text-disabled nolink valign-wrapper-li"><i class="mdi-editor-insert-chart"></i>&nbsp;Analytics</a></li>
    <li class="link valign-wrapper-li" ng-click="goto('account')"><i class="mdi-action-account-box"></i>&nbsp;My Account</li>
    <li class="link valign-wrapper-li" ng-click="gotoUrl('/apidocs')"><i class="mdi-maps-local-library"></i>&nbsp;Docs</li>
    <li class="link valign-wrapper-li" ng-click="gotoUrl('/user/logout', false)"><i class="mdi-action-exit-to-app"></i>&nbsp;Log Out</li>
  </ul>
  <!--END LEFT NAVIGATION DRAWER-->

  <div ng-view class="full-height">
  </div>

</body>
</html>