<!DOCTYPE html>
<html>
  <head>
    <!--    Import CSS-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1>User Home</h1>
        </div>
      </div>
      <br/>
      <div class="row text-center">
        <div class="btn btn-primary">
          <div class="col-md-6 text-center">
            <a href="/EAG"><h2>Entity Access Gateway</h2></a>
          </div>
        </div>
        <div class="btn btn-primary">
          <div class="col-md-6 text-center">
            <a href="/security-manager"><h2>Security Manager</h2></a>
          </div>
        </div>
      </div>
      <br/>
      <div class="row text-center">
        <div class="btn btn-primary">
          <div class="col-md-6 text-center">
            <a href="/ds-manager"><h2>Data Source Manager</h2></a>
          </div>
        </div>
        
        <div class="btn btn-primary">
          <div class="col-md-6 text-center">
            <a href="analytics"><h2>Analytics</h2></a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>