/*Index CSS*/
html {
    height: 100%;
}

body {
    color: #444444;
    height: 100%;
}

.side-nav-toggle {
    padding-left: 10px;
}

.nav-part {
    padding: 0px !important;
}

.large-btn {
    font-size: 18pt !important;
}

.lines-3 {
    height: 13em !important;
}

.instance-header {
    padding-top: 0.75em;
!important;
    margin-bottom: 0;
!important;
}

.instance-tagline {
    margin-top: -18px !important;
    float: left;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

.padding-left-10px {
    padding-left: 10px !important;
}

.main-container {
    height: 80%;
    overflow: hidden;
}

.banner {
    height: 16%;
}

.medium-text {
    font-size: 18pt;
}

.large-text {
    font-size: 24pt;
}

.major-body-list-header {
    height: 7%;
}

.major-body-list-body {
    height: 93%;
    width: 100%;
    overflow: auto;
}

.property-panel {
    height: 64.8%;
}

.property-panel-header {
    height: 12%;
}

.property-panel-body {
    height: 88%;
    overflow-y: auto;
    width: 100%;
}

.instance-list-panel {
    height: 34.2%;
    padding: 5px !important;
}

.instance-list-textarea {
    overflow: auto !important;
    position: absolute;
    bottom: 0px !important;
    top: 73.5%;
    height: 26% !important;
    right: 0px;
    left: 67%;
    width: 32.95% !important;
    background-color: white !important;
}

.full-height {
    height: 100%;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.no-border-bottom {
    border-bottom: none !important;
}

.instance-list-button {
    bottom: 35px;
    position: relative;
    right: 50px;
}

.pull-right {
    float: right;
}

.btn-floating-small {
    width: 45px !important;
    height: 45px !important;
}

.no-line-height {
    line-height: 0px !important;
}

.action-card {
    float: right !important;
    position: relative !important;
    right: -26px;
    padding: 12px 0px 0px 17px;
    top: -287px !important;
    max-height: 320px;
}

.cancel-action-card-button {
    padding-left: 45px;
}
.action-label {
    padding-bottom: 10px;
    width: 120px;
}

.action-dismiss-label {
    padding-bottom: 10px;
    width: 77px;
}

.table-header {
    padding: 15px 0px !important;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    color: #989898;
}

.bottom-bordered {
    border-style: none none solid;
    border-width: thin;
}

.table-cell {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

.table-row:hover {
    background-color: #e0e0e0;
}

.table-row {
    padding: 15px;
    margin: 0px !important;

    -o-transition:.2s;
    -ms-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

.table-header-row {
    margin: 0px !important;
}

.shift-25px-right {
    padding-left: 25px !important;
}

.shift-14px-right {
    padding-left: 14px !important;
}

.shift-7px-right {
    padding-left: 7px !important;
}

.clr{
    clear:both;
    font-size:0;
}

.inline-block {
    display: inline-block;
}

a, .link{
    cursor: pointer;
    color: #444444;
}

.nolink {
    cursor: not-allowed;
}

.text-align-center {
    text-align: center;
}

.italics {
    font-style: italic;
}


.text-h3 {
    font-size: 2.92rem !important;
    line-height: 3.212rem;
    margin: 1.46rem 0 1.168rem -42px !important;
    font-weight: 300;
}

.line-height-36 {
    line-height: 36px !important;
}

.entity-name-ok-button {
    margin-top: 30px;
    padding: 0 0.75rem;
}

.border-bottom-1px {
    border-bottom-style: solid !important;
    border-bottom-width: 2px !important;
    padding-bottom: 10px !important;
    padding-left: 0px !important;
    margin-left: -12px !important;
}

.shift-15px-down {
    overflow-y: auto;
    margin-top: 15px !important;
}

.modal-large {
    top: 4% !important;
    max-width: 90% !important;
    max-height: 92vh !important;
}

.side-nav li {
    padding-top: 24px !important;
    padding-left: 27px !important;
    padding-bottom: 22px !important;
}

.nopadding {
    padding: 0px !important;
}

.round-icon {
    border-radius: 50%;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    border-color: white;
    background-color: #989898;
    color: white;
}

/* CSS for styling .milky-placeholder placeholders  */
.milky-placeholder::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
    opacity: 0.5;
}
.milky-placeholder:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
    opacity: 0.5;
}
.milky-placeholder::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
    opacity: 0.5;
}
.milky-placeholder:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: white;
    opacity: 0.5;
}

.major {
    height: 20%;
    margin: 0px !important;
}

.fill-height {
    height: 100% !important;
}

.major-header {
    height: 100%;
}

.minor-header {
    height: 100%;
}

.major-body {
    height: 100%;
    background-color: #f9f9f9;
}

.text-disabled {
    opacity: 0.5;
}