body {
    height: 100vh;
}

.parent-container {
    height: 100%;
}

.section {
    height: 100%;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.main-container {
    height: 100%;
    margin-top: 0px !important;
}

.header-section {
    border: 1px solid black;
    height: 25%;
    margin-bottom: 0px !important;
}

.header-left {
    height: 100%;
}

.header-right {
    height: 100%;
}

.body-section {
    height: 75%;
    margin-bottom: 0px !important;
    border: 1px solid red;
}

.body-left {
    height: 100%;
}

.body-right {
    height: 100%;
}