body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.consoleText {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.inline-block {
  display: inline-block;
}

textarea { resize:vertical; }

.fixed-height-250 {
  height: 250px;
  overflow-y: auto;
}

.color-red {
  color: red;
}