<ul id="nav-mobile" class="right side-nav">
  <li><a href="#"><span class="large-btn mdi-content-add"></span></a></li>
  <li><a href="#"><span class="large-btn mdi-action-search"></span></a></li>
  <li><a href="#"><span class="large-btn mdi-content-sort"></span></a></li>
  <li><a href="#"><span class="large-btn mdi-content-create"></span></a></li>
  <li><a href="#"><span class="large-btn mdi-action-delete"></span></a></li>
  <li><a href="#"><span class="large-btn mdi-action-info"></span></a></li>
  <li><a href="#"><span class="large-btn mdi-navigation-more-vert"></span></a></li>
</ul>