<section ng-controller="EntityController">
  <!-- Header -->
  <div class="row">
    <div class="col s8 nav-part">
      <nav>
        <div class="nav-wrapper red darken-3 lines-3">
          <!--<span>-->
              <a href="#" data-activates="slide-out" class="side-nav-toggle"> <i class="mdi-navigation-menu"></i></a>
              <!--<span class="brand-logo padding-left-10px"></span></a>-->
          <!--</span>-->
          <!--<a href="#" class="brand-logo" data-activates="slide-out"><i class="mdi-navigation-menu"></i> Logo</a>-->
          <ul class="right">
            <li ng-show="!newEntity || enableEntitySearch" class="tooltipped" data-position="bottom" data-delay="500" data-tooltip="Add entity"><a ng-click="showAddEntity()"><i class="large-btn mdi-content-add"></i></a></li>
            <li class="tooltipped" data-position="bottom" data-delay="500" data-tooltip="Search"><a ng-click="showSearchBar()"><i class="large-btn mdi-action-search"></i></a></li>
            <!--<li><a href="#"><span class="large-btn mdi-content-sort"></span></a></li>-->
            <!--<li><a href="#"><span class="large-btn mdi-content-create"></span></a></li>-->
            <!--<li><a href="#"><span class="large-btn mdi-action-delete"></span></a></li>-->
            <li ng-show="!newEntity && entity" ng-click="showEntityDocumentationModal()" class="tooltipped" data-position="bottom" data-delay="500" data-tooltip="Show documentation"><a><i class="large-btn mdi-action-info"></i></a></li>
            <!--<li><a href="#"><i class="large-btn mdi-navigation-more-vert"></i></a></li>-->
          </ul>
          <br/>
          <div class="modal black-text modal-fixed-footer modal-large" id="entityDocumentationModal">
            <div class="modal-content">
              <h4>API Documentation for {{entity.name}} entity.</h4>
              <p>REST Endpoint(s):
              <table>
                <thead>
                  <tr>
                    <th>Method</th>
                    <th>URL</th>
                    <th>Sample Request Body</th>
                    <th>Sample Response</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>GET</td>
                    <td>http(s)://&lt;hostname&gt;:&lt;port&gt;/entity</td>
                    <td>N/A</td>
                    <td>
                      <code>
                        {
                          "entityList": []
                        }
                      </code>
                    </td>
                  </tr>
                  <tr>
                    <td>POST</td>
                    <td>http(s)://&lt;hostname&gt;:&lt;port&gt;/entity</td>
                    <td>
                      <code>
                        {
                          entityName: <em>Alphanumeric string</em>,
                          properties: [
                                          {
                                            name: <em>Alphanumeric String</em>,
                                            type: <em>string/number/date as value</em>
                                          }
                                      ]
                        }
                      </code>
                    </td>
                    <td>
                      <code>
                        {
                        "entityList": []
                        }
                      </code>
                    </td>
                  </tr>
                </tbody>
              </table>
              </p>
              <p>Properties:</p>
              <h6 ng-if="entity.properties.length == 0">This entity has no properties.</h6>
              <div class="row">
                <div class="col s6">
                  <table class="table-responsive" ng-if="entity.properties.length > 0">
                    <thead>
                      <tr>
                        <th>Property name</th>
                        <th>Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="property in entity.properties">
                        <td>{{property.name}}<span ng-if="property.name.trim() == ''"><em>&lt;Blank&gt;</em></span></td>
                        <td>{{property.type}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="col s6"></div>
              </div>
            </div>
            <div class="modal-footer">
              <!--<div class="action-bar">-->
                <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Close</a>
              <!--</div>-->
            </div>
          </div>
          <!--Major banner import-->
          <div class="row">
            <div class="col offset-s1 s11">
              <h3 ng-if="enableEntityAdd == undefined && enableEntitySearch == undefined">
                Entities
              </h3>
              <div ng-show="enableEntitySearch != undefined">
                <form class="row" ng-submit="saveEntity()">
                  <div class="input-field col s10">
                    <input class="text-h3 validate border-bottom-1px" id="searchText" type="text" required ng-model="searchEntityNameText" placeholder="Entity name to search...">
                  </div>
                  <div class="input-field col s2">
                    <a ng-click="cancelSearchBar()" class="btn-flat waves-effect waves-red red darken-2 entity-name-ok-button white-text" type="reset">
                      <i class="mdi-content-clear line-height-36"></i>
                    </a>
                  </div>
                </form>
              </div>
              <div ng-if="enableEntityAdd">
                <form class="row" ng-submit="saveEntity()">
                     <div class="input-field col s10">
                       <input class="text-h3 validate border-bottom-1px" id="newEntityName" type="text" required ng-model="newEntity.entityName" placeholder="New entity name">
                     </div>
                     <div class="input-field col s2">
                       <a ng-click="hideAddEntity()" class="btn-flat waves-effect waves-red red darken-2 entity-name-ok-button white-text">
                         <i class="mdi-content-clear line-height-36"></i>
                       </a>
                       &nbsp;&nbsp;
                       <a class="btn-flat waves-effect waves-red red darken-2 entity-name-ok-button white-text" ng-click="saveEntity()">
                         <i class="mdi-action-done line-height-36"></i>
                       </a>
                     </div>
                    <div class="modal black-text modal-fixed-footer" id="confirmAddModal">
                      <div class="modal-content">
                        <h4>Are you sure?</h4>
                        <p>You are about to save the following entity:</p>
                        <h5>{{newEntity.entityName}}</h5>
                        <h6 ng-if="newEntity.properties.length == 0">This entity has no properties.</h6>
                        <table class="hoverable" ng-if="newEntity.properties.length > 0">
                          <thead>
                            <th>Property name</th>
                            <th>Type</th>
                          </thead>
                          <tbody>
                            <tr ng-repeat="property in newEntity.properties">
                              <td>{{property.name}}<span ng-if="property.name.trim() == ''"><em>&lt;Blank&gt;</em></span></td>
                              <td>{{property.type}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="modal-footer">
                        <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Cancel</a>
                        <a class="waves-effect waves-green btn-flat modal-action" ng-click="confirmSave()">Save</a>
                      </div>
                    </div>

                    <div class="modal black-text modal-fixed-footer" id="confirmResetEntity">
                      <div class="modal-content">
                        <h4>Are you sure?</h4>
                        <p>Do you want to reset all fields of the current entity?</p>
                        <h5>{{newEntity.entityName}}</h5>
                        <h6 ng-if="newEntity.properties.length == 0">This entity has no properties.</h6>
                        <div class="row">
                        <table class="col s6" ng-if="newEntity.properties.length > 0">
                          <thead>
                          <th>Property name</th>
                          <th>Type</th>
                          </thead>
                          <tbody>
                          <tr ng-repeat="property in newEntity.properties">
                            <td>{{property.name}}<span ng-if="property.name.trim() == ''"><em>&lt;Blank&gt;</em></span></td>
                            <td>{{property.type}}</td>
                          </tr>
                          </tbody>
                        </table>
                          <div class="col s6"></div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Cancel</a>
                        <a class="waves-effect waves-green btn-flat modal-action modal-close" ng-click="showAddEntity(true)">Yes, Reset</a>
                      </div>
                    </div>

                  <div class="modal black-text modal-fixed-footer" id="confirmCancelEntityCreation">
                    <div class="modal-content">
                      <h4>Are you sure?</h4>
                      <p>Do you want to discard all the changes to the following entity?</p>
                      <h5>{{newEntity.entityName}}</h5>
                      <h6 ng-if="newEntity.properties.length == 0">This entity has no properties.</h6>
                      <div class="row">
                        <table class="col s6" ng-if="newEntity.properties.length > 0">
                          <thead>
                          <th>Property name</th>
                          <th>Type</th>
                          </thead>
                          <tbody>
                          <tr ng-repeat="property in newEntity.properties">
                            <td>{{property.name}}<span ng-if="property.name.trim() == ''"><em>&lt;Blank&gt;</em></span></td>
                            <td>{{property.type}}</td>
                          </tr>
                          </tbody>
                        </table>
                        <div class="col s6"></div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close">Cancel</a>
                      <a class="waves-effect waves-green btn-flat modal-action modal-close" ng-click="hideAddEntity(true)">Yes, Discard</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="col s4 nav-part">
      <nav>
        <div class="nav-wrapper red accent-4 lines-3">
          <ul class="right">
            <li ng-show="newEntity" class="tooltipped" data-position="bottom" data-delay="500" data-tooltip="Add property"><a ng-click="broadcastAddProperty()"><span class="large-btn mdi-content-add"></span></a></li>
            <li ng-show="entity || newEntity" class="tooltipped" data-position="bottom" data-delay="500" data-tooltip="Search"><a href="#"><span class="large-btn mdi-action-search"></span></a></li>
            <!--<li><a href="#"><span class="large-btn mdi-content-sort"></span></a></li>-->
            <!--<li><a href="#"><span class="large-btn mdi-content-create"></span></a></li>-->
            <!--<li><a href="#"><span class="large-btn mdi-action-delete"></span></a></li>-->
            <!--<li><a href="#"><span class="large-btn mdi-action-info"></span></a></li>-->
            <!--<li><a href="#"><span class="large-btn mdi-navigation-more-vert"></span></a></li>-->
          </ul>

          <div class="row">
            <div class="col offset-s1 s11">
              <h5 class="instance-header" ng-hide="newEntity">{{entity.name}}</h5>
              <h5 class="instance-header" ng-show="newEntity && newEntity.name">{{newEntity.name}}</h5>

              <span class="instance-tagline" ng-if="!newEntity && entity.lastAccessDate">Last accessed on {{entity.lastAccessDate}}</span>
              <span class="instance-tagline" ng-show="newEntity && newEntity.createdOn">Created on {{newEntity.createdOn}}</span>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <!-- Content Body -->
  <div class="main-container">
    <div class="row">
      <div class="col s8 table-div window-height" ng-controller="EntityListController">
        <div class="row table-header-row">
          <div class="col s1 table-header">&nbsp;</div>
          <div class="col s3 table-header">Name</div>
          <div class="col s3 table-header">Created on</div>
          <div class="col s3 table-header">Created by</div>
          <div class="col s1 table-header">Active?</div>
          <div class="col s1 table-header">&nbsp;</div>
        </div>

        <div class="row table-row valign-wrapper link" ng-repeat="entity in entityList | filter:entitySearchFilter">
          <div class="col s1 table-cell" ng-click="view(entity)"><span class="mdi-action-assignment large-text"></span></div>
          <div class="col s3 table-cell" ng-click="view(entity)">{{entity.name}}</div>
          <div class="col s3 table-cell" ng-click="view(entity)">
            <span ng-if="entity.createdOn">{{entity.createdOn}}</span>
            <span ng-if="!entity.createdOn">N/A</span>
            <!-- September 21, 2014 -->
          </div>
          <div class="col s3 table-cell" ng-click="view(entity)">
            <span ng-if="entity.username">{{entity.username}}</span>
            <span ng-if="!entity.username">Unknown</span>
            <!--Manthan "The Duke" Dave-->
          </div>
          <div class="col s1 table-cell text-center" ng-click="view(entity)">
            <div>
              <span ng-if="entity.active" class="mdi-action-done medium-text green-text"></span>
              <span ng-if="!entity.active" class="mdi-navigation-close medium-text red-text"></span>
            </div>
          </div>
          <div class="col s1 table-cell">
            <a material-dropdown class='dropdown-button text-center' href="#" ng-attr-data-activates='{{"dropdown" + $index}}'><span class="mdi-navigation-more-vert medium-text"></span></a>
            <ul ng-attr-id='{{"dropdown" + $index}}' class='dropdown-content'>
              <li><a href="#">Deactivate</a></li>
              <li class="divider"></li>
              <li><a ng-click="view(entity)">View</a></li>
              <li><a href="#">Edit properties</a></li>
              <li><a href="#">Delete Entity</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col s4" ng-controller="EntityPropertyController">
        <div class="property-panel">
          <div class="row table-header-row">
            <div class="col s6 table-header">Property</div>
            <div class="col s4 table-header">Type</div>
            <div class="col s2 table-header">
              <!--<a ng-if="$parent.newEntity" class="no-line-height" ng-click="addProperty()"><i class="mdi-content-add small"></i></a>-->
              &nbsp;
            </div>
          </div>

          <div class="row table-row valign-wrapper" ng-if="$parent.newEntity" ng-repeat="property in $parent.newEntity.properties" on-finish-render="initializeMaterialSelect">
            <div class="col s6 table-cell">
              <input type="text" placeholder="Property name" ng-model="property.name" required/>
            </div>
            <div class="col s4 table-cell">
              <!--<input type="text" placeholder="Property name" ng-model="property.type" required/>-->
              <select ng-model="property.type" ng-init="property.type = supportedTypes[0]" ng-options="typeString as typeString for typeString in supportedTypes"></select>
            </div>
            <div class="col s2 table-cell">
              <a material-dropdown class='dropdown-button text-center' href="#" ng-attr-data-activates='{{"dropdown" + $index}}'><span class="mdi-navigation-more-vert medium-text"></span></a>
              <ul ng-attr-id='{{"dropdown" + $index}}' class='dropdown-content'>
                <li><a ng-click="removePropertyAt($index)">Remove</a></li>
              </ul>
            </div>
          </div>
          <p class="text-align-center italics" ng-if="entity == undefined && $parent.newEntity.properties.length == 0">Click the add button to add properties.</p>

          <div class="row table-row valign-wrapper" ng-if="!$parent.newEntity" ng-repeat="property in $parent.entity.properties">
            <div class="col s6 table-cell">{{property.name}}</div>
            <div class="col s4 table-cell">{{property.type}}</div>
            <div class="col s2 table-cell">
              <!--<a material-dropdown class='dropdown-button text-center' href="#" ng-attr-data-activates='{{"dropdown" + $index}}'><span class="mdi-navigation-more-vert medium-text"></span></a>-->
              <!--<ul ng-attr-id='{{"dropdown" + $index}}' class='dropdown-content'>-->
                <!--<li><a href="#">Remove</a></li>-->
              <!--</ul>-->
            </div>
          </div>
          <p class="text-align-center italics" ng-if="entity == undefined && !$parent.newEntity">No entity selected.</p>
        </div>
        <div class="instance-list-panel" ng-controller="InstanceListController">
          <hr/>
          <div class="card action-card dropdown-content" id="modal1">
            <div class="valign-wrapper">
              <span class="action-label">Delete instance</span> &nbsp;&nbsp; <a href="#" class="btn-floating btn-large btn-floating-small waves-effect waves-light pink darken-3 modal-close"><i class="mdi-action-delete no-line-height"></i></a>
            </div>
            <div class="valign-wrapper">
              <span class="action-label">Edit instance</span> &nbsp;&nbsp; <a href="#" class="btn-floating btn-large btn-floating-small waves-effect waves-light pink darken-3 modal-close"><i class="mdi-image-edit no-line-height"></i></a>
            </div>
            <div class="valign-wrapper">
              <span class="action-label">Find instance</span> &nbsp;&nbsp; <a href="#" ng-click="showFindInstanceModal()" class="btn-floating btn-large btn-floating-small waves-effect waves-light pink darken-3 modal-close"><i class="mdi-action-search no-line-height"></i></a>
            </div>
            <div class="valign-wrapper">
              <span class="action-label">New instance</span> &nbsp;&nbsp; <a href="#" ng-click="showNewInstanceModal()" class="btn-floating btn-large btn-floating-small waves-effect waves-light pink darken-3 modal-close"><i class="mdi-content-add no-line-height"></i></a>
            </div>
            <div class="valign-wrapper cancel-action-card-button">
              <span class="action-dismiss-label">Close</span> &nbsp;&nbsp; <a href="#" class="btn-floating btn-large waves-effect waves-light red modal-close"><i class="mdi-content-clear modal-close"></i></a>
            </div>
          </div>
          <a href="#modal1" class="btn-floating btn-large waves-effect waves-light red instance-list-button pull-right medium-text modal-trigger">{ }</a>
          <textarea class="materialize-textarea full-height no-border-bottom instance-list-textarea" disabled>{{instanceString}}</textarea>
          <div class="modal black-text modal-fixed-footer" id="addInstanceModal">
            <div class="modal-content">
              <h4>Add <em>{{entity.name}}</em> instance</h4>
              <!--<p>Do you want to discard all the changes to the following entity?</p>-->
              <!--<h5></h5>-->
              <h6 ng-if="!entity">No entity selected.</h6>
              <h6 ng-if="entity.properties.length == 0">This entity has no properties.</h6>
              <div class="row">
                <p ng-if="addInstanceValidationMessage" class="red-text">{{addInstanceValidationMessage}}</p>
                <form ng-submit="addNewInstance()">
                  <table class="col s8 offset-s2" ng-if="entity.properties.length > 0">
                    <thead>
                    <th>Property</th>
                    <th>Value</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="property in entity.properties">
                      <td>{{property.name}}<span ng-if="property.name.trim() == ''"><em>&lt;Blank&gt;</em></span></td>
                      <td><input ng-model="newInstance[property.name]" ng-attr-type="{{property.type}}" ng-required="property.required" value="" placeholder="{{property.name}}"/><span ng-if="property.name.trim() == ''"><em>&lt;Blank&gt;</em></span></td>
                    </tr>
                    </tbody>
                  </table>
                </form>
                <div class="col s6"></div>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close" ng-click="cancelNewInstanceDialog()">Close</a>
              <a class="waves-effect waves-green btn-flat modal-action" ng-click="addNewInstance()" ng-disabled="!entity">Add</a>
            </div>
          </div>

          <div class="modal black-text modal-fixed-footer" id="findInstanceModal">
            <div class="modal-content">
              <h4>Find <em>{{entity.name}}</em> instance(s)</h4>
              <!--<p>Do you want to discard all the changes to the following entity?</p>-->
              <!--<h5></h5>-->
              <h6 ng-if="!entity">No entity selected.</h6>
              <h6 ng-if="entity.properties.length == 0">This entity has no properties.</h6>
              <div class="row">
                <p ng-if="addInstanceValidationMessage" class="red-text">{{addInstanceValidationMessage}}</p>
                <form ng-submit="findInstance()">
                  <p>By:
                    <select id="FindInstanceByPropertySelect" ng-model="findInstanceProperty" ng-options="property.name as property.name for property in entity.properties"></select>
                    <input type="text" ng-model="findInstanceValue" placeholder="value"/>
                    <button ng-click="findInstances()">Find</button>
                  </p>

                  <table class="col s8 offset-s2" ng-if="entity.properties.length > 0">
                    <thead>
                    <th>Property</th>
                    <th>Value</th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="property in entity.properties">
                      <td>{{property.name}}<span ng-if="property.name.trim() == ''"><em>&lt;Blank&gt;</em></span></td>
                      <td><input ng-model="newInstance[property.name]" ng-attr-type="{{property.type}}" ng-required="property.required" value="" placeholder="{{property.name}}"/><span ng-if="property.name.trim() == ''"><em>&lt;Blank&gt;</em></span></td>
                    </tr>
                    </tbody>
                  </table>
                </form>
                <div class="col s6"></div>
              </div>
            </div>
            <div class="modal-footer">
              <a href="#" class="waves-effect waves-green btn-flat modal-action modal-close" ng-click="cancelNewInstanceDialog()">Close</a>
              <a class="waves-effect waves-green btn-flat modal-action" ng-click="addNewInstance()" ng-disabled="!entity">Add</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    // Must always be placed at the end of the script.
    $(document).unbind('ready');
    $(document).ready(function() {
      $('.modal-trigger').leanModal();
      $('.side-nav-toggle').sideNav({
          menuWidth: 300, // Default is 240
          edge: 'left', // Choose the horizontal origin
          closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        }
      );
    });

    $(document).mouseup(function(e) {
      var dropdown = $("ul.dropdown-content[visible=visible]");
      if(dropdown){
        dropdown.animate({
          'opacity': '0'
        });
        dropdown.hide();
        dropdown.removeAttr("visible");
      }
    });


  </script>
</section>